@charset "utf-8";
/* Move down content because we have a fixed navbar that is 50px tall */
.header-masthead {
	color: aliceblue;
  	margin-bottom: 3rem;

  	background-color: #3DAAE9;
  	-webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
    box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

.cal-tite{
	color: white;
	background-color: #39A3E6;
	font-size: 17px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}
.cal-date{

	line-height: 40px;
	font-size: 20px;

	
}
.cal {
	background-color: #E5F3FB;
	text-align: center;
	
	width: 65px;
	height: 65px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.card{
	margin-bottom: 10px;
	margin-top: 10px;
}