html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}


.navbar {
  margin-bottom: 20px;
}

.notebooks{
	/*margin-top: 10px;*/
	padding-top: 50px;
	padding-left: 30px;
}
.notebook{
	margin-bottom: 10px;
}
.notes-group{
	/*margin-top: 10px;*/
	padding-top: 50px;
}

.notebook-title{
	float:left;
}
.card-edit-link{
	max-width: 50px;
	float: right;
	margin-right: 0;
	margin-top: 4px;
}
.card-link2{
	width: 35%;
	float: right;
	margin-right: 0;
	margin-top: 5px;
}
.navholder{
	color: white;
	top: 6px;
    position: relative;
}


.card-block{
	display: inline-block !important;
}
.navholder:hover{
	text-decoration: none;
	color: white;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
  }


a>img{
	width: 238px;
}


.notebook-hidden{
	display: none;
}
