html {
	position: relative;
	min-height: 100%;
}

main{
	  margin-bottom: 60px;
}

.navbar {
  margin-bottom: 20px;
}

.notebooks{
	/*margin-top: 10px;*/
	padding-top: 50px;
	padding-left: 30px;
}
.notebook{
	margin-bottom: 10px;
}
.notes-group{
	/*margin-top: 10px;*/
	padding-top: 50px;
}

.notebook-title{
	float:left;
}
.card-edit-link{
	max-width: 50px;
	float: right;
	margin-right: 0;
	margin-top: 4px;
}
.card-link2{
	width: 37%;
	float: right;
	margin-right: 0;
	margin-top: 5px;
}
.navholder{
	color: white;
	top: 6px;
    position: relative;
}
.navbar-brand{
	/*border: 1px solid #82b1ff;*/
 	padding-right: 33px;
	padding-left: 5px;
	/*
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	*/
}


.card-block{
	display: inline-block !important;
}
.navholder:hover{
	text-decoration: none;
	color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.static{
    position: static;
}

a>img{
	width: 238px;
}


.notebook-hidden{
	display: none;
}

.center-text{
	text-align: center;
}

#createJournal, #deleteJournal, #openJournal, #editJournal{
	display: none;
}

#createNote, #deleteNote, #openNote, #editNote{
	display: none;
}

.dropdown-item:hover{
	background-color: #82B1FF!important;
}

.siteLogo{
	float:left;
    height: 30px;
    width: 30px;
    background-color: #a5c7ff;
    margin-right:3px;
    text-align: center;
    color:white;
    border-radius: 5px;
}
